nav.nav
  .container-fluid
    .nav__wrapper
      a.nav__logo(href='#', aria-label="Logo Brand")
        img(src='img/logo.svg' alt='Betasprint')

      button.nav__burger
        span
        span
        span
